---
---

@import "{{ site.theme }}";

#toc-container {
  position: fixed;
  top: 50px; /* Adjust as needed */
  left: 0;
  display: flex;
  transition: transform 0.3s ease; /* Added transition for smooth animation */
}

#toc {
  width: 200px;
  padding: 20px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  background: #fff; /* Added background for better visibility */
  z-index: 1000; /* Ensure it stays above other content */
}

#toc-toggle {
  display: block;
  background: #f4f4f4;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 1001; /* Ensure it stays above the TOC */
}

.menu-icon,
.arrow-icon {
  display: inline-block;
  vertical-align: middle;
}

.menu-icon {
  margin-right: 5px;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

#toc-toggle[aria-expanded="true"] .arrow-icon {
  transform: rotate(180deg);
}

  